<!doctype html>
<html lang="ja">
{% load static %}
{% load render_bundle from webpack_loader %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'recording/resources/favicon.ico' %}">

    <title>Recording App 001</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'recording/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'recording/cover.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Rec 001</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">DataManager</a>
            <a class="nav-link" href="/admin">Login</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">picture your idea</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" id="btnRec" class="btn btn-lg btn-secondary" >Rec</a>
        </p>
      </main>
      <audio id="Chomolungma"
        src="{% static 'recording/resources/Chomolungma.m4a' %}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>This is based Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static \'recording/jquery-slim.min.js\' %"><\/script>')</script>
    <script src="{% static 'recording/popper.min.js' %}"></script>
    <script src="{% static 'recording/bootstrap.min.js' %}"></script>
    <script src="{% static 'recording/Howler/howler.min.js' %}"></script>
    <script src="{% static 'recording/Recorder.js' %}"></script>
  </body>
</html>
